/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* root */

:root {
    --color-navy: #080b12bb;    /* bg-header */
    --color-dark: #141922;      /* bg-main */
    --color-darkgrey: #282828;  /* bg footer*/
    --color-light: #ffffff;
    --color-black: #000000;
    --color-main-text: #707277;     /* main tetx*/
    --color-lightgrey: #c1c1c1;     /* footer text*/
    --color-highlight: #9ae22d;     /* navbar hover effect*/   
  }

/* debug */ 

.debug {
    border: 1px solid red;
}

/* General */

body {
    font-family: 'Montserrat', sans-serif;
    
}

img {
    max-width: 100%;
    display: block;
}

/* Page */

header {
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--color-navy);
    color: white;
    text-align: right;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;
}

nav li {
    padding: 10px;
    list-style-type: none;
}

section {
    padding: 20px 10px;
}

h2 {
    padding-bottom: 10px;
}

footer {
    flex: 0 0 100px;
    background-color: var(--color-darkgrey);
    color: var(--color-lightgrey);
}

/* containers */

.wrapper {
    background-color: var();
    height: 100vh;
}

.upper-content {
    background-color: var(--color-dark);
    flex: 1 1 auto;
    overflow-y: auto;
}

#sidebar {
    background-color: var(--color-black);
    color: white;
    display: flex;
    flex: 0 0 230px;
}
.main-content {
    flex: 1 1 auto;
    background-color: var(--color-dark);
    color: var(--color-main-text);
}

.card-place {
    height: 100% ;
    width: calc(100% / 6);
    margin-top: 20px;

}

.card {
    /* position: relative; */
    padding: 5px auto;
}

.card-img {
    width: calc(100% - 20px);
    height: 60%;
}

.card-title {
    height: 40%;
    padding: 10px auto;
    margin-top: 20px;
    text-align: center;
}

.artist {
    border-radius: 50%;
    overflow: hidden;
}

/* flex utility */

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.j-content {
    justify-content: center;
}

.center-items {
    align-items: center;
}

.s-between {
    justify-content: space-between;
}

/* text utilities */

.text-up {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}


/* text colors */

section h2 {
    color: var(--color-light);
}


/* hover effects */