/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* root */

:root {
    --color-navy: #080b12bb;    /* bg-header */
    --color-dark: #141922;      /* bg-main */
    --color-darkgrey: #282828;  /* bg footer*/
    --color-light: #ffffff;
    --color-black: #000000;
    --color-main-text: #707277;     /* main tetx*/
    --color-lightgrey: #c1c1c1;     /* footer text*/
    --color-highlight: #9ae22d;     /* navbar hover effect*/   
  }

/* debug */ 

.debug {
    border: 1px solid red;
}

/* General */

html {
    font-size: 14px;
}

body {
    font-family: 'Montserrat', sans-serif;
    
}

img {
    max-width: 100%;
    display: block;
}


/* Page */

header {
    flex: 0 0 auto;
    min-height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: var(--color-navy);
    color: white;
    padding: 25px;
    text-align: right;
}

header a {
    background-color: transparent;
    color: var(--color-light);
    border: 1px solid white;
    margin-left: auto;
    border-radius: 25px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;
}

main .main-content nav a {
    text-decoration: none;
    color: var(--color-main-text);
}

li {
    padding: 5px 10px;
    list-style-type: none;
    text-align: center;
}

section {
    padding: 20px 10px;
}

h2 {
    padding-bottom: 10px;
}

footer { 
    flex: 0 0 120px;
    background-color: var(--color-darkgrey);
    color: var(--color-lightgrey);
    position: relative;
    z-index: 3000;
}

footer a,
.side-foot .left i {
    text-decoration: none;
    color: var(--color-light);
}
/* containers */

.wrapper {
    height: 100vh;
}

.upper-content {
    background-color: var(--color-dark);
    flex: 1 1 auto;
    overflow-y: auto;
}

#sidebar {
    background-color: var(--color-black);
    color: white;
    display: flex;
    flex: 0 0 230px;
    min-height: 0;
    padding: 10px 10px;
}

#sidebar a {
    text-decoration: none;
    color: var(--color-main-text);
}

.sidebar-top {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
}

#logo {
    display: flex;
    width: 70%;
    margin: 0 5px;
}

/* logo senza scritta solo in mobile small */
#logo-small {
    width: 150px;
    display: none;
}

.sidebar-top a {
    display: flex;
    text-decoration: none;
    color: inherit;
}

.sidebar-top img:not(#logo) {
    width: 25px;
    margin-right: 5px;
}

.playlist {
    flex: 1 1 auto;
    min-height: 0;
}

.playlist > div {
    flex: 1 1 auto;
    overflow-y: auto;
}

.playlist p {
    padding: 10px 0;
}

.sidebar-bottom {
    height: 90px;
    justify-content: flex-end;
}

.download {
    width: 20px;
    margin-right: 5px;
}

.profile {
    padding: 3px;
    border-radius: 50%;
    background-color: #ffffff75;
    width: 30px;
    margin-right: 5px;
}

.main-content {
    min-height: 0;
    background-color: var(--color-dark);
    color: var(--color-main-text);
}

.card-place {
    height: 100% ;
    width: calc(100% / 6);
    margin-top: 20px;

}

.card {
    position: relative;
    padding: 5px 0;
}

.card-img {
    position: relative;
    width: calc(100% - 20px);
    height: 60%;
    margin: 0 auto;
}

.layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: var(--color-light);
}

.card-title {
    height: 40%;
    padding: 0 10px;
    margin-top: 10px;
    text-align: center;
}

.artist {
    border-radius: 50%;
    overflow: hidden;
}

.side-foot {
    display: flex;
    flex: 0 1 230px;
}

.side-foot img {
    height: 55px;
    margin: auto 0;
}

.playbar {
    flex: 1 0 40%;
    height: 100%;
}

#controls {
    height: 60%;
}

#controls ul {
    height: 100%;
    font-size: 2.3em;
}

#song-playbar {
    width: 70%;
}


/* width utiity */

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

/* flex utility */

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.j-content {
    justify-content: center;
}

.center-items {
    align-items: center;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.f-wrap {
    flex-wrap: wrap;
}

/* text utilities */ 

.text-up {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: 0.8em;
}

.bold {
    font-weight: 600;
}

/* text colors */

section h2 {
    color: var(--color-light);
}

.ligth-gray {
    color: var(--color-main-text);
}

.white {
    color: var(--color-light);
}

/* background colors */

.bg-light-gray {
    background-color: var(--color-main-text);
}

/* space utility */

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.v-padding {
    padding: 5px 0;
}

.small-m {
    margin: 0 5px;
}
.playbar:first-child:not(:first-of-type) {
    margin-left: 10px;
  }

/* highlight */

main .main-content nav a::after  {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    margin: 0 auto;
}

.sidebar-bottom > div:last-child::before {
    content: '';
    display: block;
    width: 80%;
    height: 1px;
    margin: 10px auto;
    background-color: var(--color-lightgrey);
}


/* hover effects */

main .main-content nav a:hover::after {
    background-color: var(--color-highlight);
}
       
main .main-content nav a:hover {
    color: var(--color-light);
}

/* bottone play delle card-img*/
.card:hover .layover {
    display: flex;
    background-color: #ffffff4d;
}

/* bottone header */
.upgrade:hover  {
    background-color: #ffffff4d;
    transform: scale(1.1);
    transition-duration: 0.3s ;
}

#create a:hover p,
#sidebar a:hover,
#sidebar nav span:hover,
#left a:hover i, 
#left a:hover span {
    color: var(--color-light);
}

#controls a:hover i {
    transform: scale(1.3);
    transition-duration: 0.2s;
}

/* slidebar */

input[type="range"] {
    background: var(--color-main-text);
    height: 2px;
    max-width: 100%;
    outline: none;;
    -webkit-appearance: none; 
}

input::-webkit-slider-runnable-track,   /* chrome */
input::-moz-range-track {               /* firefox*/
    background: var(--color-main-text);
}

input::-moz-range-progress {            /* solo firefox */
    background: var(--color-light);
}

input::-webkit-slider-thumb,            /* chrome */
input::-moz-range-thumb {               /* firefox*/
    height: 0;          
    width: 0;
    border-radius: 100%;
}


/* media query */
    /* desktop small */
@media screen and (max-width: 1200px) {
    
         
    main nav ul {
        width:100%;
        flex-wrap: wrap;
    }

    main nav ul li {
        width: calc((100% - 20px) / 5);
        }
    
    section > div {
        flex-wrap: wrap;
    }

    .card-place {
        width: calc(100% / 4);
        display: flex;
        flex-wrap: wrap;
    } 
    
    .artist {
        height: 75%
    }
}
 
    /* tablet */
@media screen and (max-width: 992px) {
    
    nav ul li {
        width: calc((100% - 20px) / 3);
        }
    
    .card-place {
        width: calc(100% / 3);
        display: flex;
        flex-wrap: wrap;
        } 
}


    /* mobile */
@media screen and (max-width: 768px) {

    .card-place {
        width: calc(100% / 2);
    }    

    nav  ul li {
        width: calc((100%) / 4);
        padding: 5px;
        }

    #sidebar {
        flex: 0 0 70px;
    }

}
    /* mobile small */
@media screen and (max-width: 576px) {

    .sidebar-top li {
        width: 100%;
    }

    .sidebar-top img:not(#logo) {
        width: 50px;
        margin-right: 0;
        margin: 10px auto;
    }

    .sidebar-bottom {
        margin: 0 auto;
    }

    .sidebar-bottom img {
        margin: 10px auto;
        width: 30px;
    }

    .sidebar-bottom > div:last-child::before {
        display: none;
    }

    #logo {
        display: none;
    }

    #logo-small {
        display: flex;
    }


    main nav ul li {
        width: calc((100% - 10px) / 4);  
    }

    .card-place {
        width: calc(100% / 2);
    }
    
    .side-foot {
        flex: 0 1 70px;
    }


    .d-none {
        display: none;
    }
}
    /* extra-small */
@media screen and (max-width: 350px) {
    

    main nav ul li {
        width: calc((100% - 10px) / 3);
        font-size: 0.8em;  
    }

    .card-place {
        width: calc(100%);
        align-items: center;
    }
}